@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}


@section banner{
<h1>Home</h1>
   }

<blockquote>This is the home page for the Forms and Razor project</blockquote>

Razor <strong> Project </strong>


@section footer{
    <p> this is the foooter section</p>
    }

