@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "SingleQuery";

    var searchArg = Request.Form["SearchArg"];
    var thebutton = Request.Form["formbutton"];
    var regionid = "";
    var description = "";

    //Open connection to db 
    //use connection string name attr value

    var db = Database.Open("NWDB");

    // sql query command to retireve the desired data

    // if the query command requires a parameter data you will need a placeholder data n = 0.1,2,3 
    //Hard Coded Strings Cannot be Over Multiple Physical Lines

    var querycommand = "SELECT RegionID, RegionDescription "
        + "FROM Region "
        + "WHERE RegionID = 0";


    // Execute your command
    //the result will be one of the following 
    //a) a single record
    //b) a data se of 0., 1 or more records
    //c) a single value
    //your expected results will determine how you execute your command
    //a) you will use .QuerySingle() looking up by primary key
    //b) Query()  empty one or multi
    //c)QueryValue()
    // our search is by primary key and our expected result is a single record
    //The query single (comman string, optionally comma delimitted list of parameter values order is important must match order of values)

    var datainfo = db.QuerySingle(querycommand, searchArg);

}



@section banner{
    <h1>Database Single Page Query</h1>
}

    <form id="theForm" method="post">
               
        <div class="row">
            <div class="col-md-6">
                <label for="SearchArg" id="Label1">Enter a Region ID:</label>
                <input type="text" id="SearchArg" name="SearchArg"
                       placeholder="enter region ID" value="@searchArg" />
                <br />
                <input type="submit" id="formbutton" name="formbutton"
                       class="btn" value="Submit" />&nbsp;
                <input type="submit" id="formbutton" name="formbutton"
                       class="btn" value="Clear" />
            </div>
            <div class="col-md-6">

                <label for="regionid" id="Label2">Region ID:</label> &nbsp;
                <input type="text" id="regionid" name="regionid" value="@regionid"
                       readonly="readonly" />
                <br />
                <label for="description" id="Label3">Description</label> &nbsp;
                <input type="submit" id="description" name="description" value="@description"
                       readonly="readonly" />
            </div>
        </div>
    </form>